#crystalsale {
    border: dashed white;
    text-align: center;
    font-family: verdana;
}

.relative {
    position: relative;
}

.jump {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}